@inject IBananaService BananaService

<button class="btn btn-info" @onclick="IncreaseBananaCount"><span class="oi oi-plus"></span></button>
@code {
  public void IncreaseBananaCount()
  {
    BananaService.AddBananas(10);
  }
}
