@inject IBananaService BananaService
@implements IDisposable
<div class="top-menu">
  <img src="icons/banana.png"  alt="Banana"/>
  <span class="popover-header">
    @BananaService.Bananas
  </span>
  <AddBananas />
</div>

@code {
  /// <inheritdoc />
  protected override void OnInitialized()
  {
    base.OnInitialized();
    BananaService.OnChange += StateHasChanged;
  }

  /// <inheritdoc />
  public void Dispose()
  {
    BananaService.OnChange -= StateHasChanged;
  }

}
