@inject IBananaService BananaService
@using BlazorGame.Client.Pages
@implements IDisposable

<AuthorizeView>
  <Authorized>
    <div class="top-menu">
      <img src="icons/banana.png" alt="Banana"/>
      <span class="popover-header">
        @BananaService.Bananas
      </span>
      <AddBananas/>
    </div>
  </Authorized>
  <NotAuthorized>
    <div>
      <NavLink href="">Login</NavLink>
      <NavLink href="@nameof(Register)">Register</NavLink>
    </div>
  </NotAuthorized>
</AuthorizeView>

@code {
  /// <inheritdoc />
  protected override void OnInitialized()
  {
    base.OnInitialized();
    BananaService.OnChange += StateHasChanged;
  }

  /// <inheritdoc />
  public void Dispose()
  {
    BananaService.OnChange -= StateHasChanged;
  }
}
